<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <h1>Add your credential</h1>

    <form method="post" action="/new/user">
        <label for="newUser">Username* <br> 
         <input type="text" name="newUserName" placeholder="Enter username" id="newUser">
        </label>

        <br> <br>

        <label for="newUserMail">Mail* <br> 
         <input type="text" name="newUserEmail" placeholder="Enter email" id="newUserMail" p>
        </label>

        <br> <br>

        <label for="newUserPass">Password* <br> 
         <input type="text" name="newUserPass" placeholder="Enter password" id="newUserPass">
        </label>
        
        <br> <br>

        <button>submit</button>

    </form>
</body>
</html>